.btn {
  cursor: pointer;
  padding: 18px 23px 16px 23px;
  border: 1px solid $COLOR-AND-BG;
  background-color: $COLOR-AND-BG;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 900;
}
