* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.base-sup {
  color: $COLOR-AND-BG;
  font-size: 16px;
  font-weight: 400;
}
